<div class="naz-block uk-background-blend-darken uk-background-primary uk-background-cover" uk-parallax=" bgy: -350">
  <div class="uk-container" style="height: 100%;">
    <div  uk-grid class="uk-flex uk-flex-middle" style="height: 100%;">
      <div class="uk-width-1-2@s uk-width-1-2@m uk-width-1-2@l ">
        <div class="uk-light  uk-text-center uk-text-left@s">
          <h1 class="naz-home-title ">
            <%= t("homepage.banner.title")  %> 
          </h1>
           <p style="color: white;"> <%= t("homepage.banner.subtitle")  %> </p>
           <button class="naz-button"><span class="uk-text-uppercase"><%= t('buttons.claim') %> </span></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-container">
  <br><br>
  <div class="uk-text-center uk-margin-top uk-text-lead uk-text-bold uk-visible@s"><h1><%= t("homepage.our_products.title")  %> </h1></div>
  <div class="uk-text-center uk-margin uk-text-lead  uk-hidden@s"><%= t("homepage.our_products.title")  %> </div>
  <hr class="uk-divider-icon">
  <br><br>
  <div uk-grid class="uk-flex uk-flex-middle" >
    <div class="uk-width-1-2@s uk-visible@s" uk-scrollspy="cls: uk-animation-slide-left;">
        <div uk-lightbox>
          <a href="/assets/oas-1.jpg">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
              <img src="/assets/oas-1.jpg" alt="">
            </div>
          </a>
        </div>
    </div>
    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-right; ">
      <div class="">
        <h3 class="uk-text-center uk-margin-top"><%= t("homepage.our_products.osetr_and_sterliad.title")  %> </h3>
        <p>&#160; &#160; &#160; <%= t("homepage.our_products.osetr_and_sterliad.text") %>
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@s uk-hidden@s" uk-scrollspy="cls: uk-animation-slide-left;">
        <div uk-lightbox>
          <a href="/assets/oas-1.jpg">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
              <img src="/assets/oas-1.jpg" alt="">
            </div>
          </a>
        </div>
    </div>
  </div>
  <div uk-grid class="uk-flex uk-flex-middle" >
    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-left; ">
      <div class="">
        <h3 class="uk-text-center uk-margin-top"><%= t("homepage.our_products.forel.title") %></h3>
        <p>&#160; &#160; &#160; <%= t("homepage.our_products.forel.text") %>
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@s" uk-scrollspy="cls: uk-animation-slide-right; ">
        <div uk-lightbox>
          <a href="/assets/forel-3.JPG">
            <div class="uk-card uk-card-default uk-card-body uk-text-center">
              <img src="/assets/forel-3.JPG" alt="">
            </div>
          </a>
        </div>
    </div>
  </div>
  <br>  <br>
<div class="uk-text-center uk-margin-top uk-text-lead uk-text-bold uk-visible@s"><h1><%= t("homepage.our_tech.title") %></h1></div>
  <div class="uk-text-center uk-margin uk-text-lead  uk-hidden@s">Галерея</div>
  <hr class="uk-divider-icon">
  <div class="uk-margin uk-position-relative uk-visible-toggle uk-light" uk-slider="clsActivated: uk-transition-active; center: true" uk-scrollspy="cls: uk-animation-fade;">
    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s1.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove"><%= t('homepage.our_tech.slider.first.title') %></h3>
                    <p class="uk-margin-remove"><%= t('homepage.our_tech.slider.first.text') %></p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s2.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove"><%= t('homepage.our_tech.slider.second.title') %></h3>
                    <p class="uk-margin-remove"><%= t('homepage.our_tech.slider.second.text') %></p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s3.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove"><%= t('homepage.our_tech.slider.third.title') %></h3>
                    <p class="uk-margin-remove"><%= t('homepage.our_tech.slider.third.text') %> </p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s4.jpg" alt="">
                <div class="uk-visible@s uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove"><%= t('homepage.our_tech.slider.fourth.title') %></h3>
                    <p class="uk-margin-remove"><%= t('homepage.our_tech.slider.fourth.text') %> </p>
                </div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="/assets/tech/s5.jpg" alt="">
                <div class="uk-visible@s  uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove"><%= t('homepage.our_tech.slider.fifth.title') %></h3>
                    <p class="uk-margin-remove"> <%= t('homepage.our_tech.slider.fifth.text') %> </p>
                </div>
            </div>
        </li>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>
</div>
<br><br>
<div class="uk-text-center uk-margin-top uk-text-lead uk-text-bold uk-visible@s"><h1><%= t("homepage.our_contact.title") %></h1></div>
<div class="uk-text-center uk-margin uk-text-lead  uk-hidden@s"><%= t("homepage.our_contact.title") %></div>
<hr class="uk-divider-icon">
<div class="uk-container">
  <div uk-grid class="uk-flex uk-flex-middle">
    <div class="uk-width-1-2@s"  uk-scrollspy="cls: uk-animation-slide-left; ">
      <div uk-lightbox>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23537.331106295354!2d70.27164443099396!3d42.48801516426381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a89aff46363e99%3A0x25fdbcbcc8b1d61f!2z0KLRjtC70YzQutGD0LHQsNGB!5e0!3m2!1sru!2skz!4v1541960099088" data-type="iframe">
          <div class="uk-card uk-card-default uk-card-body uk-text-center uk-card-hover">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23537.331106295354!2d70.27164443099396!3d42.48801516426381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a89aff46363e99%3A0x25fdbcbcc8b1d61f!2z0KLRjtC70YzQutGD0LHQsNGB!5e0!3m2!1sru!2skz!4v1541960099088" width="100%" height="400 frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </a>
      </div>
    </div>
    <div class="uk-width-1-2@s uk-card uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; ">
      <h3 class="uk-card-title"><%= t("homepage.our_contact.information.title") %></h3>
      <ul class="uk-list uk-list-bullet">
        <li><%= t("homepage.our_contact.information.adress") %></li>
        <li><%= t("homepage.our_contact.information.phone") %></li>
        <li><%= t("homepage.our_contact.information.additional_phone") %></li>
      </ul>
    <h3 class="uk-card-title"><%= t("homepage.our_contact.hours_and_jobs.title") %></h3>
    <ul class="uk-list uk-list-bullet">
      <li><%= t("homepage.our_contact.hours_and_jobs.monday") %></li>
      <li><%= t("homepage.our_contact.hours_and_jobs.tuesday") %></li>
      <li><%= t("homepage.our_contact.hours_and_jobs.wednesday") %></li>
      <li><%= t("homepage.our_contact.hours_and_jobs.thursday") %></li>
      <li><%= t("homepage.our_contact.hours_and_jobs.friday") %></li>
      <li><%= t("homepage.our_contact.hours_and_jobs.saturday") %></li>
      <li><%= t("homepage.our_contact.hours_and_jobs.sunday") %></li>
    </ul>
    </div>
  </div>
</div>
