<div class="">
  <nav class="uk-navbar-container navbar-shadow" uk-sticky="show-on-up: true; animation: uk-animation-slide-top" uk-navbar>
    <div class="uk-navbar-left">     
     <%= link_to image_tag('/assets/logo-ffc.jpg', alt: "logo", width: "34", class: "uk-small-margin-right") + "FirstFish", 
     url_for({:controller => 'static_pages', :action => 'home'}), :class => 'uk-navbar-item uk-logo' %>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m">
        <li><%= link_to t("menu.osetr_and_sterliad"), "" %></li>
        <li><%= link_to t("menu.forel"), "" %></li>
        <li class=""><%= link_to t("menu.where_buy"), "" %></li>
        <li><%= link_to t("menu.contact"), controller: "static_pages", action: "contacts"  %></li>
        <li>
          <%= link_to t("menu.info"), "#" %>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class=""><%= link_to t("menu.tech"), "" %></li>
              <li><%= link_to t("menu.refresh"), "" %></li>
              <li><%= link_to t("menu.about_us"), controller: "static_pages", action: "about" %></li>
            </ul>
          </div>
        </li>
        <li>
          <%= link_to t("menu.language"), "#" %>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="<%= "uk-active" if I18n.locale == :kz %> ">
                <%= link_to t("menu.kz"), { locale: :kz } %>
              </li>
              <li class="<%= "uk-active" if I18n.locale == :ru %>">
                <%= link_to t("menu.ru"), { locale: :ru } %>
              </li>
            </ul>
          </div>
        </li>
        <li><a></a></li>
      </ul>
      <ul class="uk-navbar-nav ">
        <li>  <i uk-toggle="target: #bok-menu" class="uk-hidden@m  fas fa-bars" ></i><li>
      <ul>
    </div>
  </nav>
  <div id="bok-menu" uk-offcanvas="mode: push; overlay: true; ">
      <div class="uk-offcanvas-bar">
        <div class="uk-panel">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Навигация</li>
          <hr>
          <li>
            <%= link_to url_for({:controller => 'static_pages', :action => 'home'}) do %>
              <i class="fas fa-home uk-margin-small-right"></i> <%= t("menu.home")  %></a>
            <% end %>
          </li>
          <li><a href="#"><i class="fas fa-fish uk-margin-small-right"></i> <%= t("menu.osetr_and_sterliad")  %> </a></li>
          <li><a href="#"><i class="fas fa-anchor uk-margin-small-right"></i> <%= t("menu.forel")  %> </a></li>
          <li><a href="#"><i class="fas fa-shopping-cart uk-margin-small-right"></i> <%= t("menu.where_buy")  %> </a></li>
          <li><a href="#"><i class="fas fa-toolbox uk-margin-small-right"></i> <%= t("menu.tech")  %> </a></li>
          <li><a href="#"><i class="fas fa-sync-alt uk-margin-small-right"></i> <%= t("menu.refresh")  %> </a></li>
           <li>
            <%= link_to url_for({:controller => 'static_pages', :action => 'contacts'}) do %>
              <i class="fas fa-phone uk-margin-small-right"></i> <%= t("menu.contact")  %></a>
            <% end %>
          </li>
           <li >
            <%= link_to url_for({:controller => 'static_pages', :action => 'about'}) do %>
              <i class="fas fa-info-circle uk-margin-small-right"></i> <%= t("menu.about_us")  %></a>
            <% end %>
          </li>
          <hr>
          <li class="uk-nav-header"><%= t("menu.language")  %> </li>
          <li class=" <%= "uk-active" if I18n.locale == :kz  %>" >
            <%= link_to locale: :kz  do %>
              <i class="fas fa-minus uk-margin-small-right"></i> 
              <%= t("menu.kz")  %> 
            <% end %>
          </li>
          <li class=" <%= "uk-active" if I18n.locale == :ru  %>" >
            <%= link_to locale: :ru  do %>
              <i class="fas fa-minus uk-margin-small-right"></i> 
              <%= t("menu.ru")  %> 
            <% end %>
          </li>
        </ul>
        </div>
      </div>
  </div>
</div>
